<div class="event-list-container">
    <div *ngFor="let event of model" class="event-card-wrapper">
        <app-event-card [model]="event" 
                        [view]="view"
                        (confirm)="confirmEvent(event)" 
                        (decline)="declineEvent(event)">
        </app-event-card>
    </div>

    <div *ngIf="isLoading">
        <div *ngFor="let num of loadingItems" class="event-card-wrapper">
            <app-event-card [loading]="true" [view]="view"></app-event-card>
        </div>
    </div>

    <div *ngIf="model && !isLoading && model.length == 0">
        There is nothing to display.
    </div>
</div>