<div *ngIf="!loading" class="day-wrapper" tabindex="0"
     [ngClass]="{'currentDay': currentDay, 'outsideOfMonth': outsideOfMonth, 'active': active, 'outline': outline}"
     (click)="interact($event, calendarDate)"
     (keydown)="interact($event, calendarDate)">

    <div *ngIf="view === CalendarView.Month || view === CalendarView.Week" class="day-number">
        {{ calendarDate.date | date : 'd' }}
    </div>

    <div class="events-list">
        <div *ngFor="let event of calendarDate.events; index as i" tabindex="0"
             class="event"
             [matTooltip]="event.title"
             [ngStyle]="eventStyles[i]"
             (click)="routeToEvent(event.id, $event)"
             (keydown)="routeToEvent(event.id, $event)">
            &nbsp;
        </div>
    </div>
</div>

<div *ngIf="loading" class="day-wrapper loading">
    <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
</div>