@import "../../../../../../assets/scss/partials/colors";

.day-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .day-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        flex: 2;
        cursor: default;
    }

    .event {
        background-color: $neutral-600;
        border-radius: 20px;
        width: 38px;
        height: 5px;
        margin: auto;
    }
}

.currentDay,
.currentDay.active {
    .day-number {
        font-weight: 600;
        border-radius: 12px;
        background: $secondary-2-gradient;
        width: 39px;
        height: 39px;
        color: white;
        margin: auto;
    }
}

.active:not(.currentDay) {
    .day-number {
        border-radius: 12px;
        background: white;
        width: 36px;
        height: 36px;
        border: 3px solid $secondary-2-dark;
        margin: auto;
    }

    .event {
        background-color: $primary-2 !important;
    }
}

.outsideOfMonth .day-number {
    color: $neutral-300;
}

.day-wrapper.loading {
    ngx-skeleton-loader {
        height: 100%;
        ::ng-deep {
            >div {
                height: 100%;
                border-radius: 0;
                border: 2px solid white;
            }
        }
    }
}

.flex-align {
    flex: 1;
    display: flex;
    align-items: center;
}