<div class="day-wrapper" tabindex="0"
     [ngClass]="{'currentDay': currentDay, 'outsideOfMonth': outsideOfMonth, 'active': active}"
     (click)="interact($event, calendarDay)"
     (keydown)="interact($event, calendarDay)">

    <div class="day-number">
        {{ calendarDay.date | date : 'd' }}
    </div>

    <div class="events-list">
        <div *ngFor="let event of calendarDay.events; index as i" tabindex="0"
             class="event"
             [matTooltip]="event.title"
             [ngStyle]="{
                'height': 'calc((100% / ' + numberOfEvents + ') - ' + (numberOfEvents > 1 ? numberOfEvents - 1 : 0) + 'px)', 
                'margin-left': 'calc(100% - ' + percentageOfDayLeft(event.startDate, calendarDay.date) + '%)',
                'margin-right': 'calc(100% - ' + percentageOfDayLeft(event.endDate, calendarDay.date) + '%)',
                'background-color': eventColor(i)}">
            &nbsp;
        </div>
    </div>
</div>