<div class="day-wrapper" tabindex="0"
     [ngClass]="{'currentDay': currentDay, 'outsideOfMonth': outsideOfMonth, 'active': active}"
     (click)="interact($event, calendarDay)"
     (keydown)="interact($event, calendarDay)">

    <div class="day-number">
        {{ calendarDay.date | date : 'd' }}
    </div>

    <div class="events-list">
        <div *ngFor="let event of calendarDay.events; index as i" tabindex="0"
             class="event"
             [matTooltip]="event.title"
             [ngStyle]="{'height': 'calc(100% / ' + (calendarDay.events.length * (calendarDay.events.length / 2)) + ')'}">
            &nbsp;
        </div>
    </div>
</div>