<form id="gcc-form-poll" [formGroup]="form">

    <app-input [(value)]="model.name" 
               [name]="'name'"
               formControlName="name"
               [control]="$any(form).controls['name']"
               [label]="translations.forms.blog.name_of_blog | translate" 
               [placeholder]="translations.forms.placeholder | translate"
               [errorMatcher]="errorStateMatcher"
               [autofocus]="true"
               [required]="true"
               [disabled]="disabled">
    </app-input>

    <app-input [(value)]="model.publisher" 
               [name]="'publisher'"
               formControlName="publisher"
               [control]="$any(form).controls['publisher']"
               [label]="translations.forms.blog.name_of_publisher | translate" 
               [placeholder]="translations.forms.placeholder | translate"
               [errorMatcher]="errorStateMatcher"
               [required]="true"
               [disabled]="disabled">
    </app-input>

    <app-file-select [label]="translations.forms.blog.upload_cover_photo | translate"
                     [control]="$any(form).controls['coverPhoto']"
                     [required]="true">
    </app-file-select>

    <app-input [(value)]="model.coverPhotoAlt" 
               [name]="'coverPhotoAlt'"
               formControlName="coverPhotoAlt"
               [control]="$any(form).controls['coverPhotoAlt']"
               [label]="translations.forms.blog.cover_photo_alt | translate" 
               [placeholder]="translations.forms.placeholder | translate"
               [errorMatcher]="errorStateMatcher"
               [required]="true"
               [disabled]="disabled">
    </app-input>

    <app-editor [label]="translations.forms.blog.body | translate"
                [hint]="translations.forms.placeholder | translate"
                [(html)]="model.description"
                [required]="true"
                [maxCharacters]="maxBlogLength"
                formControlName="description"
                [control]="$any(form).controls['description']"
                [disabled]="disabled">
    </app-editor>
</form>