<button mat-button
        [id]="btnId" 
        [name]="name" 
        [value]="value" 
        [type]="type"
        [class]="matButtonType"
        [disabled]="disabled"
        [autofocus]="autofocus"
        [matTooltip]="tooltip"
        [matTooltipPosition]="tooltipDirection"
        [ariaLabel]="ariaLabel"
        [color]="matColor"
        [ngStyle]="{ 'font-size': fontSize }">
    <div class="gcc-button-inner">
        <ng-content></ng-content>
        <mat-icon *ngIf="matIcon" 
                  aria-hidden="false"
                  attr.aria-label="{{ ariaLabel }}">
            {{ matIcon }}
        </mat-icon>
    </div>
</button>