<ng-container *ngIf="matButtonType == materialButtonType.Basic">
    <button mat-button
            [attr.id]="btnId" 
            [attr.name]="name" 
            [attr.value]="value" 
            [attr.type]="type"
            [attr.form]="form"
            [class]="matButtonType"
            [disabled]="disabled"
            [autofocus]="autofocus"
            [matTooltip]="tooltip"
            [matTooltipPosition]="tooltipDirection"
            [attr.ariaLabel]="ariaLabel"
            [color]="matColor"
            [ngStyle]="{ 'font-size': fontSize }"
            [attr.theme]="theme"
            (click)="onClick()">
        <div class="gcc-button-inner">
            <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
            <mat-icon *ngIf="matIcon" 
                      aria-hidden="false"
                      attr.aria-label="{{ ariaLabel }}">
                {{ matIcon }}
            </mat-icon>
        </div>
    </button>
</ng-container>

<ng-container *ngIf="matButtonType == materialButtonType.Raised">
    <button mat-raised-button
            [attr.id]="btnId" 
            [attr.name]="name" 
            [attr.value]="value" 
            [attr.type]="type"
            [attr.form]="form"
            [class]="matButtonType"
            [disabled]="disabled"
            [autofocus]="autofocus"
            [matTooltip]="tooltip"
            [matTooltipPosition]="tooltipDirection"
            [attr.ariaLabel]="ariaLabel"
            [color]="matColor"
            [ngStyle]="{ 'font-size': fontSize }"
            [attr.theme]="theme"
            (click)="onClick()">
        <div class="gcc-button-inner">
            <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
            <mat-icon *ngIf="matIcon" 
                      aria-hidden="false"
                      attr.aria-label="{{ ariaLabel }}">
                {{ matIcon }}
            </mat-icon>
        </div>
    </button>
</ng-container>

<ng-container *ngIf="matButtonType == materialButtonType.Stroked">
    <button mat-stroked-button
            [attr.id]="btnId" 
            [attr.name]="name" 
            [attr.value]="value" 
            [attr.type]="type"
            [attr.form]="form"
            [class]="matButtonType"
            [disabled]="disabled"
            [autofocus]="autofocus"
            [matTooltip]="tooltip"
            [matTooltipPosition]="tooltipDirection"
            [attr.ariaLabel]="ariaLabel"
            [color]="matColor"
            [ngStyle]="{ 'font-size': fontSize }"
            [attr.theme]="theme"
            (click)="onClick()">
        <div class="gcc-button-inner">
            <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
            <mat-icon *ngIf="matIcon" 
                      aria-hidden="false"
                      attr.aria-label="{{ ariaLabel }}">
                {{ matIcon }}
            </mat-icon>
        </div>
    </button>
</ng-container>

<ng-container *ngIf="matButtonType == materialButtonType.Flat">
    <button mat-flat-button
            [attr.id]="btnId" 
            [attr.name]="name" 
            [attr.value]="value" 
            [attr.type]="type"
            [attr.form]="form"
            [class]="matButtonType"
            [disabled]="disabled"
            [autofocus]="autofocus"
            [matTooltip]="tooltip"
            [matTooltipPosition]="tooltipDirection"
            [attr.ariaLabel]="ariaLabel"
            [color]="matColor"
            [ngStyle]="{ 'font-size': fontSize }"
            [attr.theme]="theme"
            (click)="onClick()">
        <div class="gcc-button-inner">
            <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
            <mat-icon *ngIf="matIcon" 
                      aria-hidden="false"
                      attr.aria-label="{{ ariaLabel }}">
                {{ matIcon }}
            </mat-icon>
        </div>
    </button>
</ng-container>

<ng-container *ngIf="matButtonType == materialButtonType.Icon">
    <button mat-icon-button
            [attr.id]="btnId" 
            [attr.name]="name" 
            [attr.value]="value" 
            [attr.type]="type"
            [attr.form]="form"
            [class]="matButtonType"
            [disabled]="disabled"
            [autofocus]="autofocus"
            [matTooltip]="tooltip"
            [matTooltipPosition]="tooltipDirection"
            [attr.ariaLabel]="ariaLabel"
            [color]="matColor"
            [ngStyle]="{ 'font-size': fontSize }"
            [attr.theme]="theme"
            (click)="onClick()">
        <div class="gcc-button-inner">
            <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
            <mat-icon *ngIf="matIcon" 
                      aria-hidden="false"
                      attr.aria-label="{{ ariaLabel }}">
                {{ matIcon }}
            </mat-icon>
        </div>
    </button>
</ng-container>

<ng-container *ngIf="matButtonType == materialButtonType.FAB">
    <button mat-fab
            [attr.id]="btnId" 
            [attr.name]="name" 
            [attr.value]="value" 
            [attr.type]="type"
            [attr.form]="form"
            [class]="matButtonType"
            [disabled]="disabled"
            [autofocus]="autofocus"
            [matTooltip]="tooltip"
            [matTooltipPosition]="tooltipDirection"
            [attr.ariaLabel]="ariaLabel"
            [color]="matColor"
            [ngStyle]="{ 'font-size': fontSize }"
            [attr.theme]="theme"
            (click)="onClick()">
        <div class="gcc-button-inner">
            <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
            <mat-icon *ngIf="matIcon" 
                      aria-hidden="false"
                      attr.aria-label="{{ ariaLabel }}">
                {{ matIcon }}
            </mat-icon>
        </div>
    </button>
</ng-container>

<ng-container *ngIf="matButtonType == materialButtonType.MiniFAB">
    <button mat-mini-fab
            [attr.id]="btnId" 
            [attr.name]="name" 
            [attr.value]="value" 
            [attr.type]="type"
            [attr.form]="form"
            [class]="matButtonType"
            [disabled]="disabled"
            [autofocus]="autofocus"
            [matTooltip]="tooltip"
            [matTooltipPosition]="tooltipDirection"
            [attr.ariaLabel]="ariaLabel"
            [color]="matColor"
            [ngStyle]="{ 'font-size': fontSize }"
            [attr.theme]="theme"
            (click)="onClick()">
        <div class="gcc-button-inner">
            <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
            <mat-icon *ngIf="matIcon" 
                      aria-hidden="false"
                      attr.aria-label="{{ ariaLabel }}">
                {{ matIcon }}
            </mat-icon>
        </div>
    </button>
</ng-container>

<ng-template #buttonContent>
    <ng-content></ng-content>
</ng-template>