@import "../../../../assets/scss/partials/colors";

:host {
    position: sticky;

    button {
        margin: 0;
        padding: 0;
    }
    
    .gcc-button-inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .mat-icon {
            display:flex;             
            align-self:center;
        }
    }

    ::ng-deep {
        .mat-mdc-button:not(:disabled) {
            color: inherit;
        }

        .mat-mdc-outlined-button[disabled][disabled] {
            border-color: $neutral-300 !important;

            .gcc-button-inner {
                color: $neutral-300;

                i {
                    color: $neutral-300;
                }
            }
        }

        .mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
            padding: 0 16px 0 16px;
        }

        .mat-mdc-button .mat-mdc-button-touch-target, 
        .mat-mdc-unelevated-button .mat-mdc-button-touch-target, 
        .mat-mdc-raised-button .mat-mdc-button-touch-target, 
        .mat-mdc-outlined-button .mat-mdc-button-touch-target {
            height: 100%;
        }

        .mat-stroked-button {
            border: 2px solid $primary-1 !important;
            border-radius: 10px;

            .gcc-button-inner {
                color: #000;
            }

            i {
                color: $primary-1;
            }
        }
    }
}