:host {
    position: sticky;
    
    .gcc-button-inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;

        .mat-icon {
            display:flex;             
            align-self:center;
        }
    }
}