<div *ngIf="!loading" class="day-wrapper" tabindex="0"
     [ngClass]="{'currentDay': currentDay, 'outsideOfMonth': outsideOfMonth, 'active': active}"
     (click)="interact($event, calendarDate)"
     (keydown)="interact($event, calendarDate)">

     <div class="flex-align"></div>

    <div class="day-number flex-align">
        <div class="flex-align"></div>
        <div class="flex-align">
            {{ calendarDate.date | date : 'd' }}
        </div>
        <div class="flex-align"></div>
    </div>

    <div class="flex-align">
        <div *ngIf="calendarDate.events.length > 0" class="event"></div>
    </div>
</div>

<div *ngIf="loading" class="day-wrapper loading">
    <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
</div>