<mat-card appearance="outlined">
    <div class="profile-wrapper">
        <app-profile-pic [model]="profile" [loading]="loading"></app-profile-pic>
    </div>

    <div *ngIf="loading" class="loading-header">
        <ngx-skeleton-loader count="1" 
                             appearance="line" 
                             animation="progress">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" 
                             appearance="line" 
                             animation="progress">
        </ngx-skeleton-loader>
    </div>

    <mat-card-header *ngIf="!loading && profile">
        <mat-card-title>
            {{ profile.firstName + ' ' +  profile.lastName }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ profile.jobTitle }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <div *ngIf="!loading && !editing" 
             class="gcc-post-placeholder" 
             (click)="toggleEditing($event)"
             (keydown)="toggleEditing($event)"
             tabindex="0">
            <i class="fa-regular fa-pen-to-square"></i>
            <span>{{ translations.forms.placeholder | translate }}</span>
        </div>

        <app-button *ngIf="!loading && editing" 
                    class="gcc-cancel-editing"
                    [matButtonType]="'mat-icon-button'"
                    (click)="toggleEditing($event)"
                    [disabled]="creating"
                    [theme]="creating ? 'disabled' : 'primary-1'">
            <i class="fa-regular fa-circle-xmark fa-2xl"></i>
        </app-button>

        <mat-tab-group *ngIf="!loading && editing"  
                       [preserveContent]="true" 
                       (selectedTabChange)="onTabChange($event); load()"
                       mat-stretch-tabs="false">
            <mat-tab [label]="translations.titles.post | translate" [disabled]="creating">
                <ng-template matTabContent>
                    <app-post-form [form]="formGroups[0]"></app-post-form>
                </ng-template>
            </mat-tab>
            <mat-tab [label]="translations.titles.blog | translate" [disabled]="creating">
                <ng-template matTabContent>
                    <app-blog-form [form]="formGroups[1]"></app-blog-form>
                </ng-template>
            </mat-tab>
            <mat-tab [label]="translations.titles.event | translate" [disabled]="creating">
                <ng-template matTabContent>
                    <app-event-form [form]="formGroups[2]"></app-event-form>
                </ng-template>
            </mat-tab>
            <mat-tab [label]="translations.titles.poll | translate" [disabled]="creating">
                <ng-template matTabContent>
                    <app-poll-form [form]="formGroups[3]"></app-poll-form>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <ngx-skeleton-loader *ngIf="loading" 
                             count="6" 
                             appearance="line" 
                             animation="progress">
        </ngx-skeleton-loader>
    </mat-card-content>

    <mat-card-actions *ngIf="editing">
        <div class="left-actions">
            <app-button *ngIf="!loading && (selectedIndex === 1 || selectedIndex === 2)"
                        [disabled]="!formHasValues(selectedForm) || !formChanges[selectedIndex] || creating"
                        theme="primary-2"
                        [clickFunc]="saveCallback">
                {{ translations.forms.save | translate }}
            </app-button>
        </div>
        <div class="right-actions">
            <app-button *ngIf="!loading"
                        type="submit"
                        [ngClass]="formReady(selectedForm) ? 'enabled' : 'disabled'"
                        [disabled]="!formReady(selectedForm) || creating"
                        theme="secondary-2"
                        [clickFunc]="submitCallback">
                <div *ngIf="!creating">{{ translations.forms.create | translate }}</div>
                <i *ngIf="creating" class="fa-solid fa-spinner fa-spin-pulse"></i>
            </app-button>
        </div>
    </mat-card-actions>
</mat-card>