@import "../../../../assets/scss/partials/colors";

.gcc-calendar-wrapper {
    min-width: 350px;
}

.header {
    grid-column: span 7;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

    span {
        pointer-events: none;
    }

    ::ng-deep {
        .mat-mdc-button-persistent-ripple,
        .mat-mdc-button-ripple {
            display: none;
        }
    }
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    pointer-events: none;
    border-top: 3px solid #f9f9f9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .day {
        border: none;
    }
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 3px solid #f9f9f9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .day:not(.inactive):focus,
    .day:not(.inactive):focus-visible {
        border-color: $primary-1;
    }
    .day:not(.inactive):hover {
        background-color: $primary-1-light;
    }
    .day.inactive {
        color: #bfbfbf;
    }
}

.day {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-sizing: border-box;

    span {
        pointer-events: none;
    }
}

.gcc-calendar-wrapper.loading {
    .header,
    .weekdays {
        color: $neutral-500;
    }
}