<div class="gcc-calendar-wrapper" [ngClass]="{'loading': loading}">
    <div class="header">
        <app-button theme="primary-1"
                    matButtonType="mat-icon-button"
                    [tooltip]="previousButtonTitle | translate"
                    [tooltipDirection]="TooltipDirection.Left"
                    [ariaLabel]="previousButtonAria | translate"
                    [disabled]="loading"
                    (click)="navigateCalendar(-1)">
            <i class="fa-solid fa-caret-left"></i>
        </app-button>
    
        <span>{{ date | localizedDate : 'MMMM YYYY' }}</span>
        
        <app-button theme="primary-1"
                    matButtonType="mat-icon-button"
                    [tooltip]="nextButtonTitle | translate"
                    [tooltipDirection]="TooltipDirection.Right"
                    [ariaLabel]="nextButtonAria | translate"
                    [disabled]="loading"
                    (click)="navigateCalendar(1)">
            <i class="fa-solid fa-caret-right"></i>
        </app-button>
    </div>
    
    <div class="weekdays">
        <div class="day">{{ translations.calendar.days.short.sun | translate }}</div>
        <div class="day">{{ translations.calendar.days.short.mon | translate }}</div>
        <div class="day">{{ translations.calendar.days.short.tue | translate }}</div>
        <div class="day">{{ translations.calendar.days.short.wed | translate }}</div>
        <div class="day">{{ translations.calendar.days.short.thu | translate }}</div>
        <div class="day">{{ translations.calendar.days.short.fri | translate }}</div>
        <div class="day">{{ translations.calendar.days.short.sat | translate }}</div>
    </div>
    
    <div class="calendar" [ngStyle]="calendarStyle">
    
        <app-calendar-day *ngFor="let day of daysPaddingPre; index as i"
                          [calendarDay]="day"
                          [outsideOfMonth]="true"
                          [eventRows]="eventRows"
                          [outline]="daysOutlined"
                          [loading]="loading"
                          (dayClick)="dayClick(day)">
        </app-calendar-day>
    
        <app-calendar-day *ngFor="let day of days; index as i"
                          [calendarDay]="day"
                          [active]="i === activeDayIndex"
                          [eventRows]="eventRows"
                          [outline]="daysOutlined"
                          [loading]="loading"
                          (dayClick)="dayClick(day)">
        </app-calendar-day>
    
        <app-calendar-day *ngFor="let day of daysPaddingPost; index as i"
                          [calendarDay]="day"
                          [outsideOfMonth]="true"
                          [eventRows]="eventRows"
                          [outline]="daysOutlined"
                          [loading]="loading"
                          (dayClick)="dayClick(day)">
        </app-calendar-day>
    
    </div>
    
    <app-button theme="primary-1"
                matButtonType="mat-icon-button"
                [clickFunc]="toggleViewCallback"
                [tooltip]="translations.calendar.controls.viewBtn.title | translate"
                [ariaLabel]="translations.calendar.controls.viewBtn.aria | translate"
                [disabled]="loading"
                style="float: right;">
        <i *ngIf="view === CalendarView.Day" class="fa-solid fa-calendar-day"></i>
        <i *ngIf="view === CalendarView.Week" class="fa-solid fa-calendar-week"></i>
        <i *ngIf="view === CalendarView.Month" class="fa-solid fa-calendar"></i>
    </app-button>
</div>