<div class="gcc-calendar-wrapper" [ngClass]="{'loading': loading}">

    <div class="header">

        <!-- Left Actions-->
        <div class="left-actions">

            <!-- Add Event -->
            <app-button theme="black"
                        matButtonType="mat-icon-button"
                        [tooltip]="'TODO' | translate"
                        [tooltipDirection]="TooltipDirection.Above"
                        [ariaLabel]="'TODO'"
                        [disabled]="loading"
                        (click)="navigateCalendar(-1)">
                <i class="fa-solid fa-calendar-plus fa-lg"></i>
            </app-button>

            <!-- Search -->
            <form id="gcc-form-calendar-search">
                <app-input *ngIf="searchActive" 
                           [name]="'calendarSearch'" 
                           [label]="'calendarSearch'"
                           [placeholder]="'Search calendar'"
                           [icon]="'fa-solid fa-magnifying-glass fa-lg'">
                </app-input>
                <app-button *ngIf="!searchActive"
                            theme="black"
                            matButtonType="mat-icon-button"
                            [tooltip]="'TODO' | translate"
                            [tooltipDirection]="TooltipDirection.Above"
                            [ariaLabel]="'TODO' | translate"
                            [disabled]="loading"
                            [clickFunc]="toggleSearch">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </app-button>
            </form>
            
        </div>

        <!-- Middle Actions-->
        <div class="middle-actions">

            <!-- Nav Previous-->
            <app-button theme="black"
                        matButtonType="mat-icon-button"
                        [tooltip]="previousButtonTitle | translate"
                        [tooltipDirection]="TooltipDirection.Left"
                        [ariaLabel]="previousButtonAria | translate"
                        [disabled]="loading"
                        (click)="navigateCalendar(-1)">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </app-button>
        
            <!-- Date -->
            <span>{{ date | localizedDate : dateFormat | titlecase }}</span>

            <!-- Nav Next -->
            <app-button theme="black"
                        matButtonType="mat-icon-button"
                        [tooltip]="nextButtonTitle | translate"
                        [tooltipDirection]="TooltipDirection.Right"
                        [ariaLabel]="nextButtonAria | translate"
                        [disabled]="loading"
                        (click)="navigateCalendar(1)">
                <i class="fa-solid fa-angle-right fa-lg"></i>
            </app-button>
        </div>

        <!-- Right Actions -->
        <div class="right-actions">
        </div>
    </div>

    <div>
        <!-- Days of the Week -->
        <div class="weekdays">
            @for (weekday of weekdays; track $index) {
                <div class="day" [class.today]="weekday.isToday">
                    {{ weekday.title | translate }}
                </div>
            }
        </div>

        <div class="calendar" [ngStyle]="calendarStyle">
            <!-- Previous Month's Days -->
            @for (day of datesPaddingPre; track $index) {
                <app-calendar-day [calendarDate]="day"
                                  [outsideOfMonth]="true"
                                  [loading]="loading"
                                  (dayClick)="dayClick(day)">
                </app-calendar-day>
            }
            <!-- Current Month's Days -->
            @for (day of dates; track $index) {
                <app-calendar-day [calendarDate]="day"
                                  [active]="$index === activeDayIndex"
                                  [loading]="loading"
                                  (dayClick)="dayClick(day)">
                </app-calendar-day>
            }
            <!-- Next Month's Days -->
            @for (day of datesPaddingPost; track $index) {
                <app-calendar-day [calendarDate]="day"
                                  [outsideOfMonth]="true"
                                  [loading]="loading"
                                  (dayClick)="dayClick(day)">
                </app-calendar-day>
            }
        </div>
    </div>
</div>

<app-calendar-events [day]="dates[activeDayIndex]"></app-calendar-events>