<app-banner>
    <div class="banner-text-top">
        <div>
            {{ translations.banner.event | translate }}
        </div>
      </div> 
</app-banner>

<app-page-title [pageTitle]="translations.titles.upcoming_events | translate"></app-page-title>

<div>
        <app-input  
                    [name]="'eventSearchBar'"
                    formControlName="eventSearchBar"
                    [control]="form.controls['eventSearchBar'] | formControl"
                    [label]="translations.forms.event.search | translate"
                    [placeholder]="translations.forms.search | translate">
        </app-input>
</div>
 
<div class="upcoming-events-content">
    <section>
        <app-list [service]="eventService" [cardSize]="'large'" orientation="vertical" [pageSize]="2" [paging]="false"></app-list> 
        <div class="click-for-more">
            <a routerLink="{{ '/' + routes.Events }}">
                {{ translations.features.more | translate }}
            </a>
        </div>
    </section>
</div> 

<app-page-title [pageTitle]="translations.titles.previous_events | translate"></app-page-title>

<div class="previous-events-content">
    <section>
        <app-list [service]="eventService" [cardSize]="'large'" orientation="vertical" [pageSize]="2" [paging]="false"></app-list> 
        <div class="click-for-more">
            <a routerLink="{{ '/' + routes.Events }}">
                {{ translations.features.more | translate }}
            </a>
        </div>
    </section>
</div> 