
:host {
        .upcoming-events-content {
            text-align: center;
            text-decoration: underline;
            font-weight: bold;
        }

        .previous-events-content {
            text-align: center;
            text-decoration: underline;
            font-weight: bold;
        }
    
}