/* group-card.component.scss */

@import "../../../../../assets//scss/partials/colors";

:host {
  mat-card {
    border: 1px solid $neutral-300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0 10px;

    mat-card-header {
      justify-content: center;

      .group-card {

        &:hover {
          transform: scale(1.03);
        }

        .group-image-wrapper {
          width: 50px;
          height: 100px;
          border-radius: 50%;
          background-color: #fff;
          padding: 5px;
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          object-fit: contain;
        }
      }

      ngx-skeleton-loader {
        width: 100%;
        display: block;
        margin: auto;
      }
    }

    mat-card-content {
      padding: 20px 12px;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      > div:first-child {
        font-weight: 700;
      }

      ngx-skeleton-loader {
        width: 100%;
        display: block;
        margin: auto;
      }
    }
  }
}
