@import "../../../../../assets//scss/partials/colors";

$title-padding: 90px;

:host {
  mat-card {
    border: 1px solid $neutral-300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0 10px;

    mat-card-header {
      .group-image-wrapper {
        width: 100%;
        height: 140px;
        border-radius: 20px;
        background-color: #fff;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          border-radius: 20px;
        }
      }
    }

    mat-card-content {
      padding: 20px 12px;

      .group-content:hover, .group-content:focus {
        text-decoration: underline;
      }
      
      >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      >div:first-child {
          font-weight: 700;
      }

      ngx-skeleton-loader {
          width: 100%;
          display: block;
          margin: auto;
      }
    }
  }
}