<mat-toolbar role="navigation" color="primary">
  
  <div>
    <button mat-icon-button 
            [matMenuTriggerFor]="menu" 
            attr.aria-label="{{ translations.header.menu.aria | translate }}">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.home.aria | translate }}" 
              [routerLink]="[routes.Home]">
        <mat-icon>home</mat-icon>
        <span>{{ translations.titles.home | translate }}</span>
      </button>
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.communities.aria | translate }}"
              [routerLink]="[routes.Groups]">
        <mat-icon>group_work</mat-icon>
        <span>{{ translations.titles.communities | translate }}</span>
      </button>
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.thewire.aria | translate }}"
              [routerLink]="[routes.TheWire]">
        <mat-icon>compare_arrows</mat-icon>
        <span>{{ translations.titles.thewire | translate }}</span>
      </button>
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.groups.aria | translate }}"
              [routerLink]="[routes.Groups]">
        <mat-icon>group</mat-icon>
        <span>{{ translations.titles.groups | translate }}</span>
      </button>
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.members.aria | translate }}"
              [routerLink]="[routes.Members]">
        <mat-icon>face</mat-icon>
        <span>{{ translations.titles.members | translate }}</span>
      </button>
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.missions.aria | translate }}"
              [routerLink]="[routes.Missions]">
        <mat-icon>work</mat-icon>
        <span>{{ translations.titles.missions | translate }}</span>
      </button>
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.blogs.aria | translate }}"
              [routerLink]="[routes.Blog]">
        <mat-icon>library_books</mat-icon>
        <span>{{ translations.titles.blogs | translate }}</span>
      </button>
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.dashboards.aria | translate }}"
              [routerLink]="[routes.Dashboard]">
        <mat-icon>dashboard</mat-icon>
        <span>{{ translations.titles.dashboards | translate }}</span>
      </button>
      <button mat-menu-item 
              attr.aria-label="{{ translations.header.menu.help.aria | translate }}"
              [routerLink]="[routes.Help]">
        <mat-icon>help</mat-icon>
        <span>{{ translations.titles.help | translate }}</span>
      </button>
    </mat-menu>
  </div>
  
  <div class="header-title">
    <a [routerLink]="[routes.Home]">
      <span>GC</span>Collab
    </a>
  </div>

  <div class="header-search">
    <form>
      <input type="text" placeholder="{{ translations.header.search.title | translate }}" />
      <button mat-icon-button
              color="primary" 
              attr.aria-label="{{ translations.header.search.aria | translate }}">
        <mat-icon aria-hidden="false"
                  matTooltip="{{ translations.header.search.button.tooltip | translate }}"
                  attr.aria-label="{{ translations.header.search.button.aria | translate }}">
          search
        </mat-icon>
      </button>
    </form>
  </div>

  <div class="header-actions">
    <button mat-button
            [routerLink]="[routes.Invite]">
      {{ translations.header.invite.title | translate }}
    </button>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" 
                matTooltip="{{ translations.header.bookmark.tooltip | translate }}" 
                attr.aria-label="{{ translations.header.bookmark.aria | translate }}"
                [routerLink]="[routes.Bookmarks]">
        bookmark
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" 
                matTooltip="{{ translations.header.colleagues.tooltip | translate }}" 
                attr.aria-label="{{ translations.header.colleagues.aria | translate }}"
                [routerLink]="[routes.Members]">
        people
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" 
                matTooltip="{{ translations.header.notifications.tooltip | translate }}" 
                attr.aria-label="{{ translations.header.notifications.aria | translate }}"
                [routerLink]="[routes.Messages]">
        notifications
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" 
                matTooltip="{{ translations.header.profile.tooltip | translate }}" 
                attr.aria-label="{{ translations.header.profile.aria | translate }}"
                [routerLink]="[routes.Profile]">
        account_circle
      </mat-icon>
    </button>
  </div>
</mat-toolbar>