@import "../../../../../../assets/scss/partials/colors";

:host {
    display: block;

    mat-card {
        border-radius: 12px;
    
        app-input {
            ::ng-deep {
                .mat-mdc-form-field-subscript-wrapper {
                    display: none;
                }
            }
        }
    }
    
    mat-expansion-panel {
        padding: 15px 0;
    
        mat-expansion-panel-header {
            mat-panel-title {
                app-calendar-button {
                    min-width: 50px;
                    height: 50px;
                    padding-right: 24px;
                }
            }
    
            mat-panel-description {
                
            }
        }
    
        .event-body {
    
        }
    }
    
    mat-expansion-panel:hover {
        box-shadow: inset 0px 0px 0px 2px $secondary-2;
        cursor: pointer;
    }

    ::ng-deep {
        .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
            background: transparent !important;
        }
        .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
            background: transparent;
        }
    }
}