<form id="gcc-form-post" [formGroup]="form">
    <app-editor [label]="translations.forms.post.post | translate"
                [hint]="translations.forms.placeholder | translate"
                [(html)]="model.description"
                formControlName="description"
                [control]="$any(form).controls['description']"
                [minCharacters]="minLength"
                [maxCharacters]="maxLength"
                [disabled]="disabled"
                [required]="true">
    </app-editor>
</form>