<div class="gcc-input-wrapper">
    <mat-label *ngIf="label" [ngClass]="{'disabled': disabled}">
        {{ label }} 
        <div *ngIf="required" class="required-star">*</div>
        <i *ngIf="hint" 
           tabindex="0"
           [ngClass]="{'fa-circle-xmark' : showHint, 'fa-circle-question' : !showHint}" class="fa-regular"
           [matTooltip]="showHint ? (translations.input.hint.hide.text | translate) : translations.input.hint.show.text | translate"
           [attr.aria-label]="showHint ? (translations.input.hint.hide.aria | translate) : translations.input.hint.show.aria | translate"
           [matTooltipPosition]="tooltipDirection.Right"
           (click)="toggleShowHint()">
        </i>
    </mat-label>

    <mat-form-field>
        <input matInput 
               [(ngModel)]="value" 
               (ngModelChange)="onInputChange($event)"
               [attr.id]="inputId"
               [attr.name]="name"
               [value]="value"
               [type]="type === inputType.Password ? (showPassword ? inputType.Text : type) : type"
               [placeholder]="placeholder"
               [attr.minLength]="minLength"
               [attr.maxLength]="maxLength"
               [attr.pattern]="pattern"
               [required]="required"
               [disabled]="disabled"
               [readonly]="readonly"
               [autofocus]="autofocus"
               [attr.formControl]="control"
               [attr.formControlName]="controlName"
               [attr.errorStateMatcher]="errorMatcher"
               [ngClass]="{icon: icon}"
        >

        <i *ngIf="icon" [ngClass]="icon" class="gcc-input-icon"></i>

        <app-button *ngIf="type == inputType.Password" 
                    [matButtonType]="materialButtonType.Icon"
                    [tooltip]="showPassword ? (translations.input.password.hide.text | translate) : translations.input.password.show.text | translate"
                    [ariaLabel]="showPassword ? (translations.input.password.hide.aria | translate) : translations.input.password.show.aria | translate"
                    (click)="toggleShowPassword()">
            <i [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" class="fa-regular"></i>
        </app-button>

        <mat-hint *ngIf="hint && showHint">
            {{ hint }}
        </mat-hint>

        <mat-error *ngIf="control && control.hasError('email')">
            {{ translations.input.error.email | translate }}
        </mat-error>

        <mat-error *ngIf="control && control.hasError('minlength')">
           {{ translations.input.error.minLength | translate }} {{ control.errors!['minlength'].requiredLength }}.
        </mat-error>
        
        <mat-error *ngIf="control && control.hasError('maxlength')">
            {{ translations.input.error.maxLength | translate }} {{ control.errors!['maxlength'].requiredLength }}.
        </mat-error>
        
        <mat-error *ngIf="control && control.hasError('required')">
            {{ label }} {{ translations.input.error.required | translate }}
        </mat-error>

    </mat-form-field>
</div>