<form id="gcc-form-location" [formGroup]="form">
  <app-input
    [value]="model.address"
    [name]="'address'"
    formControlName="address"
    [control]="form.controls['address'] | formControl"
    [label]="translations.forms.location.address | translate"
    [placeholder]="translations.forms.placeholder | translate"
    [autofocus]="true"
    [required]="true"
  >
  </app-input>

  <app-input
    [value]="model.postalCode"
    [name]="'postalCode'"
    formControlName="postalCode"
    [control]="form.controls['postalCode'] | formControl"
    [label]="translations.forms.location.postalCode| translate"
    [placeholder]="translations.forms.placeholder | translate"
    [required]="true"
  >
  </app-input>

  <app-input
    [value]="model.city"
    [name]="'city'"
    formControlName="city"
    [control]="form.controls['city'] | formControl"
    [label]="translations.forms.location.city | translate"
    [placeholder]="translations.forms.placeholder | translate"
    [required]="true"
  >
  </app-input>

  <app-input
    [value]="model.province"
    [name]="'province'"
    formControlName="province"
    [control]="form.controls['province'] | formControl"
    [label]="translations.forms.location.province | translate"
    [placeholder]="translations.forms.placeholder | translate"
    [required]="true"
  >
  </app-input>

  <app-input
    [value]="model.country"
    [name]="'country'"
    formControlName="country"
    [control]="form.controls['country'] | formControl"
    [label]="translations.forms.location.country | translate"
    [placeholder]="translations.forms.placeholder | translate"
    [required]="true"
  >
  </app-input>
</form>
