<mat-card>
  <mat-card-header>
    <span>{{ isToday(calendarDate.date) ? (translations.calendar.events.title.today | translate) : (translations.calendar.events.title.not_today | translate) + (calendarDate.date | localizedDate) }}</span>

    <!-- Add Event -->
    <app-button 
      theme="black" 
      matButtonType="mat-icon-button" 
      [tooltip]="translations.calendar.controls.add_event.title | translate" 
      [ariaLabel]="translations.calendar.controls.add_event.title | translate" 
      (click)="createEvent()"
    >
      <i class="fa-solid fa-calendar-plus fa-lg"></i>
    </app-button>
  </mat-card-header>

  <mat-card-content>
    @for (event of calendarDate.events; track $index) {
      <div class="event" tabindex="0">
        <div class="date-time-wrapper">
          <div class="date-time">
            <div class="date">
              {{ event.startDate | localizedDate: 'MMM d' | titlecase }}
            </div>
            <div class="time">
              <div class="hr">
                {{ event.startDate | date: 'h:mm' }}
              </div>
              <div class="min">
                {{ event.startDate | date: 'a' }}
              </div>
            </div>
          </div>
          <div class="until">
            <i class="fa-solid fa-angle-down fa-xs"></i>
          </div>
          <div class="date-time">
            <div class="time">
              <div class="hr">
                {{ event.endDate | date: 'h:mm' }}
              </div>
              <div class="min">
                {{ event.endDate | date: 'a' }}
              </div>
            </div>
            <div class="date">
              {{ event.endDate | localizedDate: 'MMM d' | titlecase }}
            </div>
          </div>
        </div>

        <div class="seperator">&nbsp;</div>

        <div class="info">
          <div>
            {{ event.title }}
          </div>
          <div>
            {{ event.eventType }}
          </div>
          <div>{{ event.location.address }}, {{ event.location.city }}, {{ event.location.province }}</div>
        </div>

        <div class="actions">
          <!-- Edit -->
          <app-button 
            theme="black" 
            matButtonType="mat-icon-button" 
            [tooltip]="translations.calendar.events.actions.edit.title | translate" 
            [ariaLabel]="translations.calendar.events.actions.edit.aria | translate" 
            (click)="editEvent(event)"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </app-button>

          <!-- Delete -->
          <app-button
            theme="black"
            class="delete-btn"
            matButtonType="mat-icon-button"
            [tooltip]="translations.calendar.events.actions.delete.title | translate"
            [ariaLabel]="translations.calendar.events.actions.delete.aria | translate"
            (click)="deleteEvent(event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </app-button>
        </div>
      </div>
    } @empty {
      <div class="empty">
        {{ translations.calendar.events.none | translate }}
      </div>
    }
  </mat-card-content>
</mat-card>
