<app-header *ngIf="showHeaderFooter" 
            (headerToggleEvent)="headerToggleEvent($event)" 
            [activeRoute]="activeRoute">
</app-header>
<app-banner *ngIf="showHeaderFooter" 
            [headerExpanded]="showSearchBar"
            [textTop]="translations.banner.welcome | translate"
            [textBottom]="translations.banner.gccollab | translate">
</app-banner>

<!-- <app-page-title *ngIf="showHeaderFooter" 
                [headerExpanded]="showSearchBar">
</app-page-title> -->

<div [ngClass]="{'gcc-main': showHeaderFooter}">
    <router-outlet></router-outlet>
</div>

<app-footer *ngIf="showHeaderFooter">
</app-footer>