<mat-card>
  <form id="gcc-form-calendar-search" [formGroup]="form">
    <app-input
      [value]="model.calendarSearch"
      [name]="'calendarSearch'"
      formControlName="calendarSearch"
      [control]="form.controls['calendarSearch'] | formControl"
      [label]="translations.calendar.search.search_input.label | translate"
      [placeholder]="translations.calendar.search.search_input.placeholder | translate"
      [required]="false"
    >
    </app-input>
    <mat-slide-toggle [checked]="showAll" 
                      (change)="setShowAll($event)" 
                      [ariaLabel]="showAll ? (translations.calendar.search.show_all.aria_off| translate) : (translations.calendar.search.show_all.aria_on| translate)"
                      color="secondary">
      {{ translations.calendar.search.show_all.title | translate }}
    </mat-slide-toggle>
  </form>
  <mat-accordion #accordian="matAccordion">
    @for (event of pagedEvents; track $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <app-calendar-button [date]="event.startDate"></app-calendar-button>
            <div class="event-title">
              <div>
                {{ event.title }}
              </div>
              <div>
                {{ event.eventType }}
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            {{ event.startDate | localizedDate: 'MMM d' | titlecase }}, {{ event.startDate | date: 'h:mm a' }} - {{ event.endDate | localizedDate: 'MMM d' | titlecase }},
            {{ event.endDate | date: 'h:mm a' }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-event [model]="event"></app-event>
        </ng-template>
      </mat-expansion-panel>
    } @empty {
      <div class="empty">
        @if (search !== '') {
          {{ translations.calendar.search.results.none| translate }}
        } @else {
          {{ translations.calendar.search.results.placeholder | translate }}
        }
      </div>
    }
  </mat-accordion>
  <mat-paginator #paginator="matPaginator" [length]="filteredEvents.length" [pageSize]="5" [pageSizeOptions]="[5, 10]" (page)="pageEvent($event)" aria-label="Select page"> </mat-paginator>
</mat-card>
