@import "../../../../assets/scss/partials/colors";

:host {
    display: block;
    width: 100%;

    .NgxEditor__Wrapper {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        border: 2px solid $neutral-300;

        ngx-editor-menu {
            ::ng-deep {
                .NgxEditor__MenuBar {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom: 2px solid $neutral-300;

                    ngx-toggle-command {
                        svg {
                            pointer-events: none;
                        }
                    }

                    ngx-dropdown {
                        .NgxEditor__Dropdown--Item {
                            font-weight: bold;
                        }
                        .NgxEditor__Dropdown--Item:nth-child(1) {
                            font-size: 2em;
                        }
                        .NgxEditor__Dropdown--Item:nth-child(2) {
                            font-size: 1.5em;
                        }
                        .NgxEditor__Dropdown--Item:nth-child(3) {
                            font-size: 1.33em;
                        }
                        .NgxEditor__Dropdown--Item:nth-child(4) {
                            font-size: 1.17em;
                        }
                        .NgxEditor__Dropdown--Item:nth-child(5) {
                            font-size: 0.83em;
                        }
                        .NgxEditor__Dropdown--Item:nth-child(6) {
                            font-size: 0.67em;
                        }
                    }
                }
            }
        }

        ngx-editor {
            ::ng-deep {
                .NgxEditor {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }

        .character-count {
            text-align: right;
            margin: 0 10px 4px 0;
            color: $neutral-500;
            pointer-events: none;
        }
    }

    .NgxEditor__Wrapper.focus {
        border-color: $primary-1;

        ngx-editor-menu {
            ::ng-deep {
                .NgxEditor__MenuBar {
                    border-color: $primary-1;
                }
            }
        }
    }

    .NgxEditor__Wrapper.error {
        border-color: $error-red;

        ngx-editor-menu {
            ::ng-deep {
                .NgxEditor__MenuBar {
                    border-color: $error-red;
                }
            }
        }

        .character-count {
            color: #e92020;
            font-weight: 500;
        }
    }

    mat-label {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        padding-bottom: 8px;
    
        .required-star {
            display: inline-block;
            color: $error-red;
        }
    
        i {
            margin-left: 5px;
            cursor: pointer;
            color: $primary-1;
        }
    }
    
    mat-label.disabled {
        .required-star, i {
            color: $neutral-300 !important;
        }
    }

    mat-hint {
        font-size: smaller;
        font-style: italic;
        color: #757575;
    }
}