<div class="NgxEditor__Wrapper">
    <ngx-editor-menu 
        [editor]="editor" 
        [toolbar]="toolbar"
        [disabled]="disabled">
    </ngx-editor-menu>
    <ngx-editor 
        [editor]="editor" 
        [ngModel]="html" 
        [disabled]="disabled" 
        [placeholder]="placeholderText()">
    </ngx-editor>
</div>

<!-- In ngx-editor-menu -->
<!-- [customMenuRef]="customMenu"  -->

<ng-template #customMenu>
    <app-editor-menu [editor]="editor"></app-editor-menu>
</ng-template>

<!-- https://github.com/KillerCodeMonkey/ng-quill/issues/80 -->
<!-- https://github.com/KillerCodeMonkey/ngx-quill-example/blob/master/src/app/custom-toolbar/custom-toolbar.component.html#L50 -->
<!-- https://dsebastien.medium.com/dynamically-customizing-quill-ngx-quill-editors-in-an-angular-application-b81c75bc4a6 -->

<!-- https://stackoverflow.com/questions/59602182/quill-add-image-url-instead-of-uploading-it -->