$background: #fff;
$primary: #46246a;
$secondary: #f5f5f5;
$accent: #0c78a7;
$warn: rgb(247, 160, 62);

$background-contrast: #000;
$primary-contrast: #fff;
$secondary-contrast: #000;
$accent-contrast: #fff;
$warn-contrast: #fff;