$primary-1: #6c0dba;
$primary-1-dark: #4a0980;
$primary-1-light: #f6edfc;
$primary-1-gradient: linear-gradient($primary-1, $primary-1-dark);
$primary-1-contrast: #fff;

$primary-2: #3b18ba;
$primary-2-dark: #291180;
$primary-2-light: #ede8fc;
$primary-2-gradient: linear-gradient($primary-2, $primary-2-dark);
$primary-2-contrast: #fff;

$secondary-1: #ac0dba;
$secondary-1-dark: #760980;
$secondary-1-light: #fbedfc;
$secondary-1-gradient: linear-gradient($secondary-1, $secondary-1-dark);
$secondary-1-contrast: #fff;

$secondary-2: #04a19e;
$secondary-2-dark: #03807d;
$secondary-2-light: #e7ffff;
$secondary-2-gradient: linear-gradient($secondary-2, $secondary-2-dark);
$secondary-2-contrast: #fff;

$error-red: #ba0606;
$error-red-dark: #800404;
$error-red-light: #fceded;
$error-red-gradient: linear-gradient($error-red, $error-red-dark);
$error-red-contrast: #fff;

$neutral-900: #2e2c30;
$neutral-800: #47444a;
$neutral-700: #605c63;
$neutral-600: #7a757d;
$neutral-500: #938f96;
$neutral-400: #ada9b0;
$neutral-300: #c6c3c9;
$neutral-200: #e9e6eb;
$neutral-100: #fbf9fc;

$background: #fff;
