$primary-1: #6C0DBA;
$primary-1-dark: #4A0980;
$primary-1-light: #F6EDFC;
$primary-1-gradient: linear-gradient($primary-1, $primary-1-dark);

$primary-2: #3B18BA;
$primary-2-dark: #291180;
$primary-2-light: #EDE8FC;
$primary-2-gradient: linear-gradient($primary-2, $primary-2-dark);

$secondary-1: #AC0DBA;
$secondary-1-dark: #760980;
$secondary-1-light: #FBEDFC;
$secondary-1-gradient: linear-gradient($secondary-1, $secondary-1-dark);

$secondary-2: #04A19E;
$secondary-2-dark: #03807D;
$secondary-2-light: #E7FFFF;
$secondary-2-gradient: linear-gradient($secondary-2, $secondary-2-dark);

$error-red: #BA0606;
$error-red-dark: #800404;
$error-red-light: #FCEDED;
$error-red-gradient: linear-gradient($error-red, $error-red-dark);

$neutral-900: #2E2C30;
$neutral-800: #47444A;
$neutral-700: #605C63;
$neutral-600: #7A757D;
$neutral-500: #938F96;
$neutral-400: #ADA9B0;
$neutral-300: #C6C3C9;
$neutral-200: #E9E6EB;
$neutral-100: #FBF9FC;
