@import "../../../../assets/scss/partials/colors";
@import "../../../../assets/scss/partials/layout";

footer {
    background: $primary-1-gradient;

    .footer-body {
        padding: 12px $gutter-desktop;

        .footer-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 8px;

            ul {
                list-style: none;
                padding-left: 0;
                padding-right: 20px;
            }

            section {
                flex-direction: column;

                h3 {
                    font-weight: bold;
                    color: #ffffff;
                }

                li:not(:last-child) {
                    padding-bottom: 12px;
                }

                a {
                    display: flex;
                    flex: 1;
                    text-decoration: none;
                    color: #ffffff;
                }

                a:visited {
                    color: #ffffff;
                }

                img {
                    float: right;
                    height: 40px;
                    width: auto;
                    margin: 20px;
                    margin-top: 130px;
                    filter: brightness(0) invert(1);
                }
            } 

            section:nth-child(2) {
                margin: 0 80px;
            }
        }
    }
}