<footer>
    <div class="footer-body">
        <div class="footer-list">
            <section>
                <h3>{{ translations.footer.title.about | translate }}</h3>
                <ul>
                    <li>
                        <a routerLink="{{ routes.About }}">
                            {{ translations.footer.item.about | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gctools-outilsgc" target="_blank">
                            {{ translations.footer.item.gctools | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="{{ routes.Stats }}">
                            {{ translations.footer.item.stats | translate }}
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>{{ translations.footer.title.privacy | translate }}</h3>
                <ul>
                    <li>
                        <a routerLink="{{ routes.Privacy }}">
                            {{ translations.footer.item.privacypolicy | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="{{ routes.Terms }}">
                            {{ translations.footer.item.terms | translate }}
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>{{ translations.footer.title.connect | translate }}</h3>
                <ul>
                    <li>
                        <a href="https://support.gccollab.ca" target="_blank">
                            {{ translations.footer.item.faq | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="https://support.gccollab.ca" target="_blank">
                            {{ translations.footer.item.help | translate }}
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <img src="https://gccollab.ca//mod/gccollab_theme/graphics/wmms-blk.svg" alt="Canada" aria-label="Symbol of the Government of Canada"/>
            </section>
        </div>
    </div>
</footer>