@import "../../../../assets/scss/partials/colors";
@import "../../../../assets/scss/partials/layout";

footer {
    background: $primary-1-gradient;

    .footer-body {
        padding: 12px $gutter-desktop;

        .footer-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            padding: 8px;
            filter: brightness(0) invert(1);

            ul {
                list-style: none;
                padding-left: 0;
                padding-block: 5px;
            }

            li {
                margin-bottom: 10px;
            }

            .footer-column {
                flex: 1;
                flex-direction: column;
                color: white;
                align-items: flex-start;

                section {
                    flex-direction: column;

                    h3 {
                        font-weight: bold;
                        color: white;
                    }

                    li:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    a {
                        display: flex;
                        flex: 1;
                        text-decoration: none;
                        color: white;
                    }

                    a:visited {
                        color: white;
                    }
                } 
            }

            section:nth-child(2) {
                margin: 0 1px;
            }

            .canada-logo-container {
                display: flex;
                float: right;
                margin-left: auto; 
                margin-top: 13px; 
                padding-right: $gutter-desktop;

                img {
                    float: right;
                    width: auto;
                    margin: 20px;
                    margin-top: 130px;
                    filter: brightness(0) invert(1);
                    padding-left: $gutter-desktop;
                }
            }
        }
    }
}