<mat-card appearance="outlined">

    <div class="profile-wrapper">
        <app-profile-pic [model]="model?.author" [loading]="loading"></app-profile-pic>
    </div>

    <div *ngIf="loading" class="loading-header">
        <ngx-skeleton-loader count="1" 
                             appearance="line" 
                             animation="progress">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" 
                             appearance="line" 
                             animation="progress">
        </ngx-skeleton-loader>
    </div>

    <mat-card-header *ngIf="!loading">
        <mat-card-title>
            {{ model?.author?.firstName + ' ' +  model?.author?.lastName }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ model?.author?.jobTitle }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p *ngIf="!loading" [innerHTML]="model?.content"></p>
        <ngx-skeleton-loader *ngIf="loading" 
                             count="6" 
                             appearance="line" 
                             animation="progress">
        </ngx-skeleton-loader>
    </mat-card-content>

    <mat-card-actions>
        <div class="left-actions">

            <app-button [matButtonType]="materialButtonType.Icon"
                        [tooltip]="translations.newsCard.like.tooltip | translate"
                        [ariaLabel]="(liked ? translations.newsCard.like.aria_on : translations.newsCard.like.aria_off) | translate"
                        [disabled]="loading"
                        (click)="loading ? '' : liked = !liked">
                <i class="fa-thumbs-up"
                   [ngClass]="liked ? 'fa-solid' : 'fa-regular'">
                </i>
                
            </app-button>
            <div class="action-count">
                {{ model ? (model.likes > 0 ? model.likes + (liked ? 1 : 0) : '') : ''}}
            </div>

            <app-button [matButtonType]="materialButtonType.Icon"
                        [tooltip]="translations.newsCard.comment.tooltip | translate"
                        [ariaLabel]="translations.newsCard.comment.aria | translate"
                        [disabled]="loading">
                <i class="fa-regular fa-comment"></i> 
            </app-button>
            <div class="action-count">
                {{ model?.comments ? model?.comments : '' }}
            </div>

            <app-button [matButtonType]="materialButtonType.Icon"
                        [tooltip]="translations.newsCard.share.tooltip | translate"
                        [ariaLabel]="translations.newsCard.share.aria | translate"
                        [disabled]="loading">
                <i class="fa-regular fa-share-from-square"></i>
            </app-button>
        </div>

        <div class="right-actions">
            <app-button [matButtonType]="materialButtonType.Icon"
                        [tooltip]="translations.newsCard.bookmark.tooltip | translate"
                        [ariaLabel]="(bookmarked ? translations.newsCard.like.aria_on : translations.newsCard.like.aria_off) | translate"
                        [disabled]="loading"
                        (click)="loading ? '' : bookmarked = !bookmarked">
                <i class="fa-bookmark"
                   [ngClass]="bookmarked ? 'fa-solid' : 'fa-regular'">
                </i>
            </app-button>
        </div>
    </mat-card-actions>
</mat-card>