<mat-card>
    <mat-card-header>
        <mat-card-title>{{ model.author?.firstName + ' ' +  model.author?.lastName }}</mat-card-title>
        <mat-card-subtitle>{{ model.author?.jobTitle }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            {{ model.content }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <div class="left-actions">
            <app-button [matButtonType]="materialButtonType.Icon">
                <i class="fa-regular fa-thumbs-up"></i>
            </app-button>
            <app-button [matButtonType]="materialButtonType.Icon">
                <i class="fa-regular fa-comment"></i>
            </app-button>
            <app-button [matButtonType]="materialButtonType.Icon">
                <i class="fa-regular fa-share-from-square"></i>
            </app-button>
        </div>

        <div class="right-actions">
            <app-button [matButtonType]="materialButtonType.Icon">
                <i class="fa-regular fa-bookmark"></i>
            </app-button>
        </div>
    </mat-card-actions>
</mat-card>