<p>{{ translations.titles.home | translate }}</p>
<app-language-selector></app-language-selector>
<br /><br />
<app-editor></app-editor>

<app-button [name]="'myButton'" 
            [value]="'myValue'"
            [disabled]="false"
            [type]="buttonTypes.Button"
            [callback]="btnClick"
            [autofocus]="true"
            [ariaLabel]="'this is my aria'"
            [matButtonType]="matButtonTypes.Raised"
            [matColor]="matColors.Primary"
            [matIcon]="'done'"
            [tooltip]="'Click this button!'">
    Click Me
</app-button>