@import '../../../assets/scss/partials/layout';
@import '../../../assets/scss/partials/colors';

:host {
    .news-container {
        width: 66%;
        padding-right: $grid-step;

        app-post {
            display: block;
            padding-bottom: 40px;
        }

        > div {
            padding: 0 22px 0 22px;
        }
    }

    section {
        .click-for-more {
            text-align: center;
            font-weight: 700;
            padding: 10px 0;

            a {
                color: $primary-2;
            }

            a:hover, a:focus {
                text-decoration: underline;
            }
        }
    }

    section:not(:last-child) {
        padding-bottom: 44px;
    }

    app-news-list {
        padding-top: 40px;
        display: block;
    }
}