@import '../../../assets/scss/partials/layout';

:host {
    .page-title {
        h1 {
            margin-top: 0;
                margin-bottom: 48px;
        }
    }
    .page-container {
        display: flex;
        flex-direction: row;
        
        .news-container {
            width: 66%;
            padding-right: $grid-step;
        }

        .side-content {
            width: 33%;
            min-width: 300px;
        }
    }
}