<app-page-title [pageTitle]="translations.titles.newsfeed | translate"></app-page-title>
<div class="page-container">

    <!-- News Feed -->
    <div class="news-container gcc-scroller">
        <div infinite-scroll 
             [infiniteScrollDistance]="2" 
             [infiniteScrollThrottle]="1000"
             (scrolled)="onNewsScroll()">
            <app-news-list [model]="newsItems" 
                           [isLoading]="loadingNews">
            </app-news-list>
        </div>
    </div>

    <div class="side-content">

        <!-- Events -->
        <section>
            <app-event-list [model]="events" 
                            [isLoading]="loadingEvents"
                            (confirm)="confirmEvent()"
                            (decline)="declineEvent()">
            </app-event-list>
            <div class="click-for-more">
                <a routerLink="{{ '/' + routes.Events }}">
                    {{ translations.features.home.moreEvents | translate }}
                </a>
            </div>
        </section>

        <!-- Connections -->
        <section>
            <app-profile-card [model]="profileShea"></app-profile-card>
            <app-profile-card [model]="profileAdi" style="display: block; padding-top: 12px;"></app-profile-card>
            <div class="click-for-more">
                <a routerLink="{{ '/' + routes.Profile }}">
                    {{ translations.features.home.moreConnections | translate }}
                </a>
            </div>
        </section>
        
    </div>
</div>