<app-page-title [pageTitle]="translations.titles.newsfeed | translate"></app-page-title>
<div class="page-container">
    <div class="news-container gcc-scroller">
        <div infinite-scroll 
             [infiniteScrollDistance]="2" 
             [infiniteScrollThrottle]="1000"
             (scrolled)="onNewsScroll()">
            <app-news-list [model]="newsItems" 
                           [isLoading]="loadingNews">
            </app-news-list>
        </div>
    </div>
    <div class="side-content">
        <app-input [type]="inputType"
           [label]="'Full name'"
           [placeholder]="'Enter your full name'"
           [errorMessage]="'Please enter your full name'"
           [hint]="'Try typing with the keyboard, doofus.'"
           [maxLength]="64"
           [minLength]="3"
           [disabled]="false"
           [required]="true"
           [readonly]="false"
           [autofocus]="false">
        </app-input>
    </div>
</div>