<app-banner [model]="banner"></app-banner>
<app-calendar-button [model]="model?.startDate" 
                     [tooltip]="translations.eventCard.calendar.tooltip | translate"
                     [aria]="translations.eventCard.calendar.aria | translate"
                     [tooltipDirection]="tooltipDirection.Below">
</app-calendar-button>

<div class="page-container">

    <div class="title-row">

        <h1>{{ model?.title }}</h1>

        <div class="title-actions">
            <div class="top">
                <app-button [matButtonType]="materialButtonType.Icon"
                            [tooltip]="translations.event.share.tooltip | translate"
                            [ariaLabel]="translations.event.share.aria | translate"
                            [tooltipDirection]="tooltipDirection.Above"
                            [disabled]="loading || isPast()">
                    <i class="fa fa-share"></i>
                </app-button>
                <app-button [matButtonType]="materialButtonType.Icon"
                            [tooltip]="(bookmarked ? translations.event.bookmark.tooltip_off : translations.event.bookmark.tooltip_on) | translate"
                            [ariaLabel]="(bookmarked ? translations.event.bookmark.aria_off : translations.event.bookmark.aria_on) | translate"
                            [tooltipDirection]="tooltipDirection.Above"
                            [disabled]="loading || isPast()"
                            (click)="loading ? '' : bookmarked = !bookmarked"
                            [ngClass]="bookmarked ? 'bookmarked' : ''">
                    <i class="fa fa-bookmark"
                       [ngClass]="bookmarked ? 'fa-solid' : 'fa-regular'">
                    </i>
                </app-button>
            </div>
            <div class="bottom">
                <app-button [disabled]="loading || isPast()"
                            [ngClass]="loading || isPast() ? 'disabled' : 'enabled'">
                    {{ translations.event.form.register | translate }}
                </app-button>
            </div>
        </div>
    </div>

    <div class="event-info">
        
        <i class="fa fa-calendar"></i>
        <section>
            <h3>{{ translations.event.date_time | translate }}</h3>
            <p>{{ model?.startDate | date: 'mediumDate' }}</p>
            <p>{{ model?.startDate | date: 'h a' }} - {{ model?.endDate | date: 'h a' }}</p>
        </section>

        <i class="fa fa-map-marker"></i>
        <section>
            <h3>{{ translations.event.location | translate }}</h3>
            <p>{{ model?.location?.address }}</p>
            <p>{{ model?.location?.city }}, {{ model?.location?.province }}</p>
        </section>

        <i class="fa-user-circle fa-regular"></i>
        <section>
            <h3>{{ translations.event.host | translate }}</h3>
            <p>CSPS</p>
            <p>Group page link</p>
        </section>
    </div>

    <!-- Description -->
    <div class="event-description">
        <h3>{{ translations.event.event_description | translate }}</h3>
        <p [innerHTML]="model?.description"></p>
    </div>

    <!-- Registration -->
    <div class="event-registration">
        <h2>{{ translations.event.event_registration | translate }}</h2>
    </div>
    
</div>