<app-banner [model]="banner"></app-banner>
<app-calendar-button [model]="model?.startDate" 
                     [tooltip]="translations.eventCard.calendar.tooltip | translate"
                     [aria]="translations.eventCard.calendar.aria | translate"
                     [tooltipDirection]="tooltipDirection.Below">
</app-calendar-button>

<div class="page-container">

    <div class="title-row">

        <h1>
            {{ model?.title }}
        </h1>

        <!-- Actions -->
        <div class="title-actions">
            <div class="top">

                <!-- Share -->
                <app-button [matButtonType]="materialButtonType.Icon"
                            [tooltip]="translations.event.share.tooltip | translate"
                            [ariaLabel]="translations.event.share.aria | translate"
                            [tooltipDirection]="tooltipDirection.Above"
                            [disabled]="loading || isPast()">
                    <i class="fa fa-share"></i>
                </app-button>

                <!-- Bookmark -->
                <app-button [matButtonType]="materialButtonType.Icon"
                            [tooltip]="(bookmarked ? translations.event.bookmark.tooltip_off : translations.event.bookmark.tooltip_on) | translate"
                            [ariaLabel]="(bookmarked ? translations.event.bookmark.aria_off : translations.event.bookmark.aria_on) | translate"
                            [tooltipDirection]="tooltipDirection.Above"
                            [disabled]="loading || isPast()"
                            (click)="loading ? '' : bookmarked = !bookmarked"
                            [ngClass]="bookmarked ? 'bookmarked' : ''">
                    <i class="fa fa-bookmark"
                       [ngClass]="bookmarked ? 'fa-solid' : 'fa-regular'">
                    </i>
                </app-button>
            </div>

            <div class="bottom">

                <!-- Register -->
                <app-button [disabled]="loading || isPast()"
                            [ngClass]="loading || isPast() ? 'disabled' : 'enabled'"
                            class="registerBtn">
                    {{ translations.event.form.register | translate }}
                </app-button>
            </div>
        </div>
    </div>

    <div class="event-info">

        <!-- Date & Time-->
        <i class="fa fa-calendar"></i>
        <section>
            <h3>
                {{ translations.event.date_time | translate }}
            </h3>
            <p>
                {{ model?.startDate | date: 'mediumDate' }}
            </p>
            <p>
                {{ model?.startDate | date: 'h a' }} - {{ model?.endDate | date: 'h a' }}
            </p>
        </section>

        <!-- Location -->
        <i class="fa fa-map-marker"></i>
        <section>
            <h3>
                {{ translations.event.location | translate }}
            </h3>
            <p>
                {{ model?.location?.address }}
            </p>
            <p>
                {{ model?.location?.city }}, {{ model?.location?.province }}
            </p>
        </section>

        <!-- Host -->
        <i class="fa-user-circle fa-regular"></i>
        <section>
            <h3>
                {{ translations.event.host | translate }}
            </h3>
            <p>
                {{ this.model?.author?.firstName }} {{ this.model?.author?.lastName }}
            </p>
            <a routerLink="{{ '/' + 'groups'  + '/' + model?.group?.id }}">
                {{ this.model?.group?.name }}
            </a>
        </section>
    </div>

    <!-- Description -->
    <div class="event-description">
        <h3>
            {{ translations.event.event_description | translate }}
        </h3>
        <p [innerHTML]="model?.description"></p>
    </div>

    <!-- Registration Form -->
    <div class="event-registration">
        <h2>{{ translations.event.event_registration | translate }}</h2>

        <!-- Full Name -->
        <app-input [id]="'event-register-fullName'"
                   [name]="'fullName'"
                   [label]="translations.event.form.full_name | translate"
                   [placeholder]="translations.event.form.placeholder | translate"
                   [errorMessage]="translations.event.form.full_name_error | translate"
                   [required]="true"
                   [disabled]="loading || isPast()">
        </app-input>

        <!-- Confirm -->
        <app-input [id]="'event-register-emailAddress'"
                   [name]="'emailAddress'"
                   [label]="translations.event.form.email | translate"
                   [placeholder]="translations.event.form.placeholder | translate"
                   [errorMessage]="translations.event.form.email_error | translate"
                   [required]="true"
                   [disabled]="loading || isPast()">
        </app-input>

        <!-- Email Confirm -->
        <app-input [id]="'event-register-emailAddressConfirm'"
                   [name]="'emailAddressConfirm'"
                   [label]="translations.event.form.email_confirm | translate"
                   [placeholder]="translations.event.form.placeholder | translate"
                   [errorMessage]="translations.event.form.email_confirm_error | translate"
                   [required]="true"
                   [disabled]="loading || isPast()">
        </app-input>

        <!-- Occupation -->
        <app-input [id]="'event-register-occupation'"
                   [name]="'occupation'"
                   [label]="translations.event.form.occupation | translate"
                   [placeholder]="translations.event.form.placeholder | translate"
                   [errorMessage]="translations.event.form.occupation_error | translate"
                   [hint]="translations.event.form.occupation_hint | translate"
                   [required]="true"
                   [disabled]="loading || isPast()">
        </app-input>

        <!-- Add to calendar -->
        <mat-checkbox id="event-register-add-to-calendar"
                      name="addToCalendar"
                      [color]="'primary'"
                      [disabled]="loading || isPast()">
            {{ translations.event.form.add_calendar | translate }}
        </mat-checkbox>

        <!-- Agree to terms -->
        <mat-checkbox id="event-register-add-to-calendar"
                      name="addToCalendar"
                      [color]="'primary'"
                      [disabled]="loading || isPast()">
            {{ translations.event.form.agree_with | translate }}<a>{{ translations.event.form.terms_conditions | translate }}</a>
        </mat-checkbox>

        <!-- Register -->
        <app-button [id]="'event-register-registerBtn'"
                    [name]="'registerBtn'"
                    [disabled]="loading || isPast()"
                    [ngClass]="loading || isPast() ? 'disabled' : 'enabled'"
                    class="registerBtn">
            {{ translations.event.form.register | translate }}
        </app-button>
    </div>
    
</div>