@import "../../../../assets/scss/partials/header";
@import "../../../../assets/scss/partials/colors";
@import "../../../../assets/scss/partials/layout";
@import "../../../../assets/scss/partials/font-weights";

.banner {
  position: relative;
  width: 100%;
  height: 25vw;
  min-height: 215px;
  max-height: 420px;

  img {
    width: 100%;
  }

  .banner-text-container {
    width: 100%;
    height: 100%;
    position: absolute;
    color: $primary-1-contrast;
    font-size: 68px;
    font-weight: $bold;
    cursor: default;
    top: 0;

    > div {
      height: 50%;
    }

    .top, .bottom {
      position: relative;
      padding-left: $gutter-desktop;

      div {
        position: absolute;
      }
    }

    .top > div {
      bottom: 0;
    }
    .bottom > div {
      top: 0;
    }
  }
}

.gcc-header {
  margin-top: $header-height-desktop;
}

.gcc-header-expanded {
  margin-top: $header-height-expanded-desktop;
}