@import "../../../../assets/scss/partials/header";

.gcc-header {
    margin-top: $header-height-desktop;
}
.gcc-header-expanded {
    margin-top: $header-height-expanded-desktop;
}

.banner {
    height: 100%;
    width: 100%;
    transition: top 0.3s ease;
    margin-top: 0; 
  }
  
  .banner-img {
    width: 100%;
    height: 100%;
  }
  
  .banner-hidden {
    top: -100px; /* Shift the banner above the viewport */
  }

  .banner-text-welcome {
    position: absolute;
    top: 45%;
    left: 19%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
  }
  .banner-text-gccollab {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
  }
  
  
  