<mat-card>
    <mat-card-header>
        {{ isToday(day.date) ? 'Today\'s Events' : 'Events on ' + day.date | localizedDate }}
    </mat-card-header>

    <mat-card-content>
        @for (event of day.events; track $index) {
            <div class="event" tabindex="0">
                <div class="time">
                    <div class="start">
                        {{ event.startDate | localizedDate }} - {{ event.startDate | date: 'h a' }}
                    </div>
                    <div class="until">
                        until
                    </div>
                    <div class="end">
                        {{ event.endDate| localizedDate }} - {{ event.endDate | date: 'h a' }}
                    </div>
                </div>

                <div class="seperator">&nbsp;</div>

                <div class="info">
                    <div>
                        {{ event.title }}
                    </div>
                    <div>
                        {{ event.eventType }}
                    </div>
                    <div>
                        {{ event.location.address }} {{event.location.city}}, {{event.location.province}}
                    </div>
                </div>

                <div class="actions">
                    <!-- Edit -->
                    <app-button theme="black"
                                matButtonType="mat-icon-button"
                                [tooltip]="'Edit Event' | translate"
                                [ariaLabel]="'Edit Event' | translate"
                                (click)="editEvent(event)">
                        <i class="fa-solid fa-pencil"></i>
                    </app-button>

                    <!-- Delete -->
                    <app-button theme="black"
                                class="delete-btn"
                                matButtonType="mat-icon-button"
                                [tooltip]="'Delete Event' | translate"
                                [ariaLabel]="'Delete Event' | translate"
                                (click)="deleteEvent(event)">
                        <i class="fa-solid fa-trash-can"></i>
                    </app-button>
                </div>
            </div>
        } @empty {
            <div class="empty">
                There are no events.
            </div>
        }
    </mat-card-content>
</mat-card>