<mat-card appearance="outlined">
    <mat-card-content>
        <div class="event-calendar"
             *ngIf="!loading"
             [matTooltip]="translations.eventCard.calendar.tooltip | translate"
             [attr.aria-label]="translations.eventCard.calendar.aria | translate"
             [matTooltipPosition]="tooltipDirection.Above"
             [ngClass]="model?.canceled == true ? 'canceled' : isPast() ? 'past' : ''"
             (click)="clickEvent()"
             tabindex="0">
            <div>
                {{ model?.startDate | date:'LLL' | uppercase }}
            </div>

            <div>
                {{ model?.startDate | date:'dd' }}
            </div>
        </div>

        <ngx-skeleton-loader *ngIf="loading" count="1" appearance="circle" animation="progress" class="event-calendar-loading"></ngx-skeleton-loader>

        <div class="event-content" 
             [ngClass]="model?.canceled == true ? 'canceled' : isPast() ? 'past' : ''"
             routerLink="{{ '/' + routes.Events  + '/view/' + model?.id }}">

            <div *ngIf="!loading">
                {{ model?.title }}
            </div>

            <div *ngIf="!loading">
                {{ model?.eventType }}
            </div>

            <ngx-skeleton-loader *ngIf="loading" count="2" appearance="line" animation="progress"></ngx-skeleton-loader>
        </div>

        <div class="event-actions">
            <app-button class="event-confirm"
                        [ngClass]="model?.declined ? 'disabled' : ''"
                        [matButtonType]="materialButtonType.Icon" 
                        [tooltip]="(model?.confirmed ? translations.eventCard.confirm.tooltip_off : translations.eventCard.confirm.tooltip_on) | translate"
                        [ariaLabel]="(model?.confirmed ? translations.eventCard.confirm.aria_off : translations.eventCard.confirm.aria_on) | translate"
                        [tooltipDirection]="tooltipDirection.Above"
                        [disabled]="loading || model?.canceled == true || isPast()"
                        (click)="confirmEvent()">
                <i *ngIf="!loading" 
                   class="fa-circle-check"
                   [ngClass]="model?.confirmed || model?.declined ? 'fa-solid' : 'fa-regular'">
                </i>
                <ngx-skeleton-loader *ngIf="loading" count="1" appearance="circle" animation="progress"></ngx-skeleton-loader>
            </app-button>

            <app-button class="event-decline"
                        [ngClass]="model?.confirmed ? 'disabled' : ''"
                        [matButtonType]="materialButtonType.Icon"
                        [tooltip]="(model?.declined ? translations.eventCard.decline.tooltip_off : translations.eventCard.decline.tooltip_on) | translate"
                        [ariaLabel]="(model?.declined ? translations.eventCard.decline.aria_off : translations.eventCard.decline.aria_on) | translate"
                        [disabled]="loading || model?.canceled == true || isPast()"
                        (click)="declineEvent()">
                <i *ngIf="!loading" 
                   class="fa-circle-xmark"
                   [ngClass]="model?.declined || model?.confirmed ? 'fa-solid' : 'fa-regular'">
                </i>
                <ngx-skeleton-loader *ngIf="loading" count="1" appearance="circle" animation="progress"></ngx-skeleton-loader>
            </app-button>
        </div>
    </mat-card-content>
</mat-card>