<!-- Small View -->
<ng-container #templateSmall>
    <mat-card appearance="outlined" class="event-card-small" *ngIf="view === 'small'; else templateLarge">
        <mat-card-content>
            <div>
                <app-calendar-button [model]="model?.startDate" 
                                    [tooltip]="translations.eventCard.calendar.tooltip | translate"
                                    [aria]="translations.eventCard.calendar.aria | translate"
                                    [tooltipDirection]="tooltipDirection.Below"
                                    [loading]="loading"
                                    [ngClass]="loading? 'calendar-loading' : ''">
                </app-calendar-button>
            </div>

            <div class="event-content" 
                [ngClass]="model?.canceled == true ? 'canceled' : isPast() ? 'past' : ''"
                routerLink="{{ '/' + routes.Events  + '/' + model?.id }}">

                <div *ngIf="!loading">
                    {{ model?.title }}
                </div>

                <div *ngIf="!loading">
                    {{ model?.eventType }}
                </div>

                <ngx-skeleton-loader *ngIf="loading" count="2" appearance="line" animation="progress"></ngx-skeleton-loader>
            </div>

            <div class="event-actions">
                <app-button class="event-confirm"
                            [ngClass]="model?.declined ? 'disabled' : ''"
                            [matButtonType]="materialButtonType.Icon" 
                            [tooltip]="(model?.confirmed ? translations.eventCard.confirm.tooltip_off : translations.eventCard.confirm.tooltip_on) | translate"
                            [ariaLabel]="(model?.confirmed ? translations.eventCard.confirm.aria_off : translations.eventCard.confirm.aria_on) | translate"
                            [tooltipDirection]="tooltipDirection.Above"
                            [disabled]="loading || model?.canceled == true || isPast()"
                            (click)="confirmEvent()">
                    <i *ngIf="!loading" 
                    class="fa-circle-check"
                    [ngClass]="model?.confirmed || model?.declined ? 'fa-solid' : 'fa-regular'">
                    </i>
                    <ngx-skeleton-loader *ngIf="loading" count="1" appearance="circle" animation="progress"></ngx-skeleton-loader>
                </app-button>

                <app-button class="event-decline"
                            [ngClass]="model?.confirmed ? 'disabled' : ''"
                            [matButtonType]="materialButtonType.Icon"
                            [tooltip]="(model?.declined ? translations.eventCard.decline.tooltip_off : translations.eventCard.decline.tooltip_on) | translate"
                            [ariaLabel]="(model?.declined ? translations.eventCard.decline.aria_off : translations.eventCard.decline.aria_on) | translate"
                            [disabled]="loading || model?.canceled == true || isPast()"
                            (click)="declineEvent()">
                    <i *ngIf="!loading" 
                    class="fa-circle-xmark"
                    [ngClass]="model?.declined || model?.confirmed ? 'fa-solid' : 'fa-regular'">
                    </i>
                    <ngx-skeleton-loader *ngIf="loading" count="1" appearance="circle" animation="progress"></ngx-skeleton-loader>
                </app-button>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>

<!-- Large View -->
<ng-container *ngIf="view !== 'small'" #templateLarge>
    <mat-card appearance="outlined" class="event-card-large">
        <mat-card-header>
            <div class="event-image-wrapper">
               <img *ngIf="!loading" [src]="model?.displayPicture">
               <ngx-skeleton-loader *ngIf="loading" count="1" appearance="line" animation="progress"></ngx-skeleton-loader>
           </div> 
           
       </mat-card-header>
        <mat-card-content>
            <div class="event-calendar">
                <div>
                    <app-calendar-button [model]="model?.startDate" 
                                        [tooltip]="translations.eventCard.calendar.tooltip | translate"
                                        [aria]="translations.eventCard.calendar.aria | translate"
                                        [tooltipDirection]="tooltipDirection.Below"
                                        [loading]="loading"
                                        [ngClass]="loading? 'calendar-loading' : ''">
                    </app-calendar-button>
                </div>
            </div>
            <div class="event-content" 
                [ngClass]="model?.canceled == true ? 'canceled' : isPast() ? 'past' : ''"
                routerLink="{{ '/' + routes.Events  + '/' + model?.id }}">

                <div *ngIf="!loading" class="title-larger-text">
                    {{ model?.title }}
                </div>
                
                <div *ngIf="!loading">
                    Organizer: {{ model?.organizer }}
                </div>

                <div *ngIf="!loading">
                    Location: {{ model?.location?.address }}
                </div>

                <ngx-skeleton-loader *ngIf="loading" count="2" appearance="line" animation="progress"></ngx-skeleton-loader>
            </div>
            <ngx-skeleton-loader *ngIf="loading" count="2" appearance="line" animation="progress"></ngx-skeleton-loader>
        </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-template #templateLarge>
    <ng-content></ng-content>
</ng-template>