<mat-card>
    <mat-card-content>
        <div class="event-calendar">
            <div>{{ 'feb' | uppercase }}</div>
            <div>{{ '15' }}</div>
        </div>

        <div class="event-content">
            <div>{{ 'Web Accessibility' }}</div>
            <div>{{ 'Working Group' }}</div>
        </div>

        <div class="event-actions">
            <div class="event-confirm">
                <i class="fa-regular fa-circle-check"></i>
            </div>

            <div class="event-decline">
                <i class="fa-regular fa-circle-xmark"></i>
            </div>
        </div>
    </mat-card-content>
</mat-card>