@import "../../../../../assets//scss/partials/colors";

:host {
  mat-card {
    //max-width: 350px;
    border: 1px solid $neutral-300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    mat-card-header {
      .event-image-wrapper {
        width: 100%;
        height: 140px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }

        ngx-skeleton-loader {
          width: 100%;
          height: 100%;

          ::ng-deep > div {
            height: 100%;
          }
        }
      }
    }
    mat-card-content {
      display: flex;
      padding: 20px 12px;
      align-items: center;
      justify-content: center;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      app-calendar-button {
        width: 65px;
        height: 65px;
        min-width: 65px;
        min-height: 65px;
      }

      .event-calendar {
        width: 65px;
        height: 65px;
        min-width: 65px;
        min-height: 65px;
        border-radius: 12px;
        color: $secondary-2-contrast;
        background: $secondary-2-gradient;
        cursor: pointer;
        position: absolute;
        margin-bottom: 125px;
        margin-right: 325px;

        div:first-child {
          font-weight: 400;
          font-size: 20px;
        }

        div:last-child {
          font-weight: 700;
          font-size: 24px;
        }
      }

      .event-calendar.canceled {
        background: $error-red-gradient;
      }

      .event-calendar.past {
        background: $neutral-700 !important;
      }

      .event-content.canceled {
        color: $error-red;
      }

      .event-content.past {
        color: $neutral-700 !important;
      }

      // .event-calendar-loading {
      //     ::ng-deep >div {
      //         width: 65px;
      //         height: 65px;
      //         min-width: 65px;
      //         min-height: 65px;
      //         border-radius: 12px;
      //     }
      // }

      .event-content {
        width: 100%;
        padding: 0 12px;
        display: inline-grid;
        justify-content: normal;
        margin-left: 10px;

        div {
          white-space: nowrap;
          cursor: pointer;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        ngx-skeleton-loader {
          display: flex;
          flex-direction: column;

          ::ng-deep > div:last-child {
            margin-bottom: 0;
          }
        }
      }

      .event-content:hover,
      .event-content:focus {
        div {
          text-decoration: underline;
        }
      }

      .event-actions {
        > div {
          cursor: pointer;
        }

        .event-confirm {
          margin-bottom: 6px;
          color: $secondary-2;
        }

        .event-decline {
          color: $error-red;
        }

        .disabled {
          color: $neutral-200 !important;
        }

        i {
          font-size: xx-large;
        }
      }
    }
  }

  // Small View
  mat-card.event-card-small {
    .event-content {
      div:first-child {
        font-weight: 600;
      }
    }
  }

  // Large View
  mat-card.event-card-large {
    position: relative;

    .event-calendar {
      position: fixed;
      top: 120px;
      left: 50px;
      z-index: 1;

      app-calendar-button {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
      }
    }

    .event-image-wrapper {
      .greyed-image-wrapper {
        filter: grayscale(60%);
      }
    }

    .event-content {
      margin-top: 20px;

      .title-larger-text {
        font-size: 20px;
        font-weight: 550;
        color: black;

        .canceled {
          color: $error-red;
        }
      }
      .event-organizer {
        color: black;

        .organizer-text {
          font-weight: 550;
          color: black;
        }
      }
      .event-location {
        color: black;

        .location-text {
          font-weight: 550;
          color: black;
        }
      }
    }
  }
}
