<form [formGroup]="form">
    <app-editor [label]="'Poll description / question'"
                [hint]="'Start writing'"
                [(html)]="model.description"
                [required]="true"
                [autofocus]="true"
                [maxCharacters]="maxLength"
                formControlName="description"
                [control]="$any(form).controls['description']">
    </app-editor>

    <div *ngFor="let option of model.options; index as i" class="option-wrapper">
        <app-input [(value)]="model.options[i].value" 
                   [name]="'option' + i"
                   formControlName="option{{i}}"
                   [control]="$any(form).controls['option' + i]"
                   [label]="'Option #' + (i + 1)" 
                   [placeholder]="'Type here'"
                   [errorMatcher]="errorStateMatcher"
                   [errorMessage]="'This is a required field.'"
                   [required]="true">
        </app-input>
        <app-button [matButtonType]="'mat-icon-button'"
                    [disabled]="model.options.length <= 2"
                    [tooltip]="'Remove option #' + (i + 1)"
                    [tooltipDirection]="tooltipDirection.Above"
                    (click)="removeOption(i)">
            <i class="fa-solid fa-trash"></i>
        </app-button>
    </div>

    <div class="form-actions">
        <app-button [matButtonType]="'mat-stroked-button'"
                    [disabled]="model.options.length >= maxOptions"
                    (click)="addOption()">
            <i class="fa-solid fa-circle-plus"></i>
            Add an option
        </app-button>

        <app-button [matButtonType]="'mat-stroked-button'">
            <i class="fa-regular fa-image"></i> 
            Add a photo
        </app-button>
    </div>
</form>

