@import "../../../../../../assets/scss/partials/colors";

.hour-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .events-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2px;

        .event {
            color: white;
            cursor: pointer;
            width: 5%;
            //max-height: calc(50% - 2px);
        }
    }

    .event-list:hover {
        .event {
            background-color: red;
        }
        .event::after {
            content: ""; // ::before and ::after both require content
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(120deg, #eaee44, #33d0ff);
            opacity: .7;
        }
    }
}

.currentHour {
    background-color: $primary-1-light;
}

.hour-wrapper:hover {
    background-color: $primary-1-light;
}

.hour-wrapper.outline {
    outline: 1px solid #f9f9f9;
}

.hour-wrapper.loading {
    ngx-skeleton-loader {
        height: 100%;
        ::ng-deep {
            >div {
                height: 100%;
                border-radius: 0;
                border: 2px solid white;
            }
        }
    }
}
