<div *ngIf="!loading" class="hour-wrapper" tabindex="0"
     [ngClass]="{'currentHour': currentDay, 'outline': outline}">

    <div class="events-list">
        <div *ngFor="let event of calendarHour.events; index as i;" tabindex="0"
             class="event"
             [matTooltip]="event.title"
             [matTooltipPosition]="'right'"
             [ngStyle]="eventStyles[i]"
             (click)="routeToEvent(event.id, $event)"
             (keydown)="routeToEvent(event.id, $event)">
            &nbsp;
        </div>
    </div>
</div>

<div *ngIf="loading" class="hour-wrapper loading">
    <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
</div>