@import "../../../../assets/scss/partials/colors";
@import "../../../../assets/scss/partials/header";

.gcc-header {
    margin-top: $header-height-desktop;
}
.gcc-header-expanded {
    margin-top: $header-height-expanded-desktop;
}

mat-toolbar {
    span:not(:first-child)::before {
        content: ' - ';
    }
}