@import '/src/assets/scss/partials/font-weights';

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    display: flex;
}

app-root {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex: 1;
}

// h1, h2, h3, h4, h5, p, span, a, button, div {
//     font-family: 'Inter', 'Helvetica Neue', sans-serif;
// }

// h1, h2 {
//     font-weight: $bold;
// }

// h3, h4 {
//     font-weight: $semi-bold;
// }

// h5 {
//     font-weight: $medium;
// }

// p {
//     font-weight: $regular;
// }

.NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu {
    width: fit-content !important;
}