// Import Angular Material styles
@use '@angular/material' as mat;
@include mat.core();

@import '@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import '/src/assets/scss/partials/colors';
@import '/src/assets/scss/partials/palettes';

$theme-primary: mat.define-palette($primary-palette);
$theme-accent: mat.define-palette($accent-palette);
$theme-warn: mat.define-palette($warn-palette);

$theme-typography: mat.define-typography-config(
    $font-family: 'Inter'
);

$theme: mat.define-light-theme((
    color: (
        primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn
    ),
    typography: $theme-typography,
    density: 0
));

// Apply theme to all components
@include mat.all-component-themes($theme);

// Custom Overrides
body {
    background-color: $background;
    color: #000;
}

//Component Overrides
.mat-button,
.mat-icon-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button {
    padding: 0 1.15em;
    margin: 0 .65em;
    min-width: 3em;
    line-height: 36.4px;
}
.mat-chip {
    padding: .5em .85em;
    min-height: 2.5em;
}
.material-icons {
    font-size: 24px;
    font-family: 'Material Icons Outlined', 'Material Icons';
    .mat-badge-content {
        font-family: 'Inter';
    }
}
mat-checkbox {
    label {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        a {
            color: $primary-1-dark;
        }
    }
}