/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzZjMGRiYSIsIj9lcjwjZjZlZGZjIiwiO2VyPCM0YTA5ODB$LCIlPmBePCMwNGExOWUiLCI~ZXI8I2U3ZmZmZiIsIjtlcjwjMDM4MDdkfiwid2Fybj5gXjwjYmEwNjA2IiwiP2VyPCNmY2VkZWQiLCI7ZXI8IzgwMDQwNH4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00IiwiZmFtaWx5PEludGVyfixgQDwoLTMiLCJmYW1pbHk8SW50ZXJ$LGBAPCgtMiIsImZhbWlseTxJbnRlcn4sYEA8KC0xIiwiZmFtaWx5PEludGVyfixgQDxoZWFkbGluZSIsImZhbWlseTxJbnRlcn4sYEA8dGl0bGUiLCJmYW1pbHk8SW50ZXJ$LGBAPHN1YiktMiIsImZhbWlseTxJbnRlcn4sYEA8c3ViKS0xIiwiZmFtaWx5PEludGVyfixgQDxib2R5LTIiLCJmYW1pbHk8SW50ZXJ$LGBAPGJvZHktMSIsImZhbWlseTxJbnRlcn4sYEA8YnV0dG9uIiwiZmFtaWx5PEludGVyfixgQDxjYXB0aW9uIiwiZmFtaWx5PEludGVyfixgQDxpbnB1dCIsImZhbWlseTxJbnRlciIsInNpemU$bnVsbH1dLCJpY29uczxPdXRsaW5lZCIsIj9uZXNzPnRydWUsInZlcnNpb24$MTN9
*/

// https://material.angular.io/guide/theming#reading-hues-from-palettes

@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "./assets/scss/partials/colors";
     
$fontConfig: (
    display-4: mat.define-typography-level(112px, 112px, 300, 'Inter', -0.0134em),
    display-3: mat.define-typography-level(56px, 56px, 400, 'Inter', -0.0089em),
    display-2: mat.define-typography-level(45px, 48px, 400, 'Inter', 0.0000em),
    display-1: mat.define-typography-level(34px, 40px, 400, 'Inter', 0.0074em),
    headline: mat.define-typography-level(24px, 32px, 400, 'Inter', 0.0000em),
    title: mat.define-typography-level(20px, 32px, 500, 'Inter', 0.0075em),
    subheading-2: mat.define-typography-level(16px, 28px, 400, 'Inter', 0.0094em),
    subheading-1: mat.define-typography-level(15px, 24px, 500, 'Inter', 0.0067em),
    body-2: mat.define-typography-level(14px, 24px, 500, 'Inter', 0.0179em),
    body-1: mat.define-typography-level(14px, 20px, 400, 'Inter', 0.0179em),
    button: mat.define-typography-level(14px, 14px, 500, 'Inter', 0.0893em),
    caption: mat.define-typography-level(12px, 20px, 400, 'Inter', 0.0333em),
    input: mat.define-typography-level(inherit, 1.125, 400, 'Inter', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
    base:              black,
    divider:           $dark-dividers,
    dividers:          $dark-dividers,
    disabled:          $dark-disabled-text,
    disabled-button:   rgba($dark-text, 0.26),
    disabled-text:     $dark-disabled-text,
    elevation:         black,
    secondary-text:    $dark-accent-text,
    hint-text:         $dark-disabled-text,
    accent-text:       $dark-accent-text,
    icon:              $dark-accent-text,
    icons:             $dark-accent-text,
    text:              $dark-primary-text,
    slider-min:        $dark-primary-text,
    slider-off:        rgba($dark-text, 0.26),
    slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
    base:              $light-text,
    divider:           $light-dividers,
    dividers:          $light-dividers,
    disabled:          $light-disabled-text,
    disabled-button:   rgba($light-text, 0.3),
    disabled-text:     $light-disabled-text,
    elevation:         black,
    hint-text:         $light-disabled-text,
    secondary-text:    $light-accent-text,
    accent-text:       $light-accent-text,
    icon:              $light-text,
    icons:             $light-text,
    text:              $light-text,
    slider-min:        $light-text,
    slider-off:        rgba($light-text, 0.3),
    slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
    background:               $light-background,
    status-bar:               $light-bg-darker-20,
    app-bar:                  $light-bg-darker-5,
    hover:                    $dark-bg-alpha-4,
    card:                     $light-bg-lighter-5,
    dialog:                   $light-bg-lighter-5,
    tooltip:                  $dark-bg-tooltip,
    disabled-button:          $dark-bg-alpha-12,
    raised-button:            $light-bg-lighter-5,
    focused-button:           $dark-focused,
    selected-button:          $light-bg-darker-20,
    selected-disabled-button: $light-bg-darker-30,
    disabled-button-toggle:   $light-bg-darker-10,
    unselected-chip:          $light-bg-darker-10,
    disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
    background:               $dark-background,
    status-bar:               $dark-bg-lighter-20,
    app-bar:                  $dark-bg-lighter-5,
    hover:                    $light-bg-alpha-4,
    card:                     $dark-bg-lighter-5,
    dialog:                   $dark-bg-lighter-5,
    tooltip:                  $dark-bg-lighter-20,
    disabled-button:          $light-bg-alpha-12,
    raised-button:            $dark-bg-lighter-5,
    focused-button:           $light-focused,
    selected-button:          $dark-bg-lighter-20,
    selected-disabled-button: $dark-bg-lighter-30,
    disabled-button-toggle:   $dark-bg-lighter-10,
    unselected-chip:          $dark-bg-lighter-20,
    disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($fontConfig);`
@include mat.all-legacy-component-typographies($fontConfig);
@include mat.legacy-core();

body {
    background-color: $background;
    color: $neutral-900;
}

// Theme Config

body {
    --primary-color: $primary-1;
    --primary-lighter-color: $primary-1-light;
    --primary-darker-color: $primary-1-dark;
    --text-primary-color: #{$light-primary-text};
    --text-primary-lighter-color: #{$dark-primary-text};
    --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
    main: $primary-1,
    lighter: $primary-1-light,
    darker: $primary-1-dark,
    200: $primary-1, // For slide toggle,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

body {
    --accent-color: $secondary-1;
    --accent-lighter-color: $secondary-1-light;
    --accent-darker-color: $secondary-1-dark;
    --text-accent-color: #{$light-primary-text};
    --text-accent-lighter-color: #{$dark-primary-text};
    --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
    main: $secondary-1,
    lighter: $secondary-1-light,
    darker: $secondary-1-dark,
    200: $secondary-1, // For slide toggle,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

body {
    --warn-color: $error-red;
    --warn-lighter-color: $error-red-light;
    --warn-darker-color: $error-red-dark;
    --text-warn-color: #{$light-primary-text};
    --text-warn-lighter-color: #{$dark-primary-text};
    --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
    main: $error-red,
    lighter: $error-red-light,
    darker: $error-red-dark,
    200: $error-red, // For slide toggle,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$theme: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
);

$mat-primary-2: (
    main: $primary-2,
    lighter: $primary-2-light,
    darker: $primary-2-dark,
    200: $primary-2, // For slide toggle,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);
$theme-primary-2: mat.define-palette($mat-primary-2, main, lighter, darker);

$mat-accent-2: (
    main: $secondary-2,
    lighter: $secondary-2-light,
    darker: $secondary-2-dark,
    200: $secondary-2, // For slide toggle,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);
$theme-accent-2: mat.define-palette($mat-accent-2, main, lighter, darker);

$theme-2: (
    primary: $theme-primary-2,
    accent: $theme-accent-2,
    warn: $theme-warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
);

$altTheme: (
    primary: $theme-primary-2,
    accent: $theme-accent-2,
    warn: $theme-warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
);

// Theme Init
@include mat.all-legacy-component-themes($theme);

.theme-primary {
    @include mat.all-legacy-component-themes($theme);
}

.theme-secondary {
    @include mat.all-legacy-component-themes($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
    padding: 0 1.15em;
    margin: 0 .65em;
    min-width: 3em;
    line-height: 36.4px
}

.mat-standard-chip {
    padding: .5em .85em;
    min-height: 2.5em;
}

.material-icons {
    font-size: 24px;
    font-family: 'Material Icons Outlined', 'Material Icons';  
    .mat-badge-content {
        font-family: 'Inter';
    }
}